body {
    min-width: 300px;
    width: 576px;
    padding: 10px;
    border-color: black;  
}
img {
    width: 109px;
    height: 166px;
}
#pl{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}
p {
    margin-bottom: 0px;
}
.number{
    font-weight: 900;
    font-size: 37px;
    background-color: #007bff;
    margin-top: 20px;
    border-radius: 21%;
    color: antiquewhite;
    padding-bottom: 15px;
}
.seven{
    background-color: aquamarine;
    border-radius: 45%;
    margin-top: 10px;
}
#hp{
    font-size: 23px;
    font-weight: 400;
}
#no7 {
    font-size: 50px;
}
.fa-cog{
    color: grey;
    font-size: 27px;
    padding-right: 13px;
    size: 85px !important;
}
.settings{
    padding-top: 10px;
    padding-top: 10px;
}
.bot{
    margin-bottom: 5px;
    margin-top: -38px;
}
.max{
    margin-top: 10px;

}